*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


header,
footer,
main,
article,
section,
hgroup,
aside,
menu,
nav,
figure,
figcaption,
details,
summary {
    display: block;
}


span,
a,
label,
strong,
b,
em,
i,
s,
q,
mark,
cite,
time,
abbr,
dfn,
small,
sup,
sub,
var,
code,
samp,
kbd,
data,
ins,
del,
audio,
canvas,
progress,
iframe,
object,
video,
img,
svg,
button,
[type="button"],
[type="reset"],
[type="submit"],
[type="text"],
[type="email"],
[type="tel"],
[type="url"],
[type="search"],
[type="password"],
textarea,
*:before,
*:after {
    display: block;
    vertical-align: top; /* in case display property will be changed to inline-block or something */
}

legend,
progress,
table {
    width: 100%;
}

html {
    font: 1em/1.125 sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body,
blockquote,
p,
dl,
pre,
figure {
    margin: 0;
}

hr,
fieldset,
legend {
    margin: 0;
    padding: 0;
    border: none;
}

ul,
ol,
menu,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}

caption {
    text-align: inherit;
}

hr {
    height: 0;
}


pre {
    overflow: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    font-weight: inherit;
    text-align: left;
}

th,
td {
    padding: 0;
}

iframe,
img {
    border: none;
}


pre,
code,
samp,
kbd {
    font-family: inherit;
    font-size: 1em;
}

address,
cite,
dfn,
var,
i,
em {
    font-style: inherit;
}

b,
strong {
    font-weight: inherit;
}

s,
ins,
del {
    text-decoration: none;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr {
    border: none;
}

label {
    cursor: inherit;
}

[for] {
    cursor: pointer;
}


q:before,
q:after {
    content: '';
    content: none;
}

mark {
    background-color: transparent;
    color: inherit;
}

small {
    font-size: inherit;
}

sup,
sub {
    font-size: inherit;   /* doesn't work in IE */
    font-size: 120%\0/;   /* works in IE */
    line-height: inherit;
    position: static;
}


sup {
    top: 0;
}

sub {
    bottom: 0;
}


button,
select,
input,
optgroup,
textarea {
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    letter-spacing: inherit;
}


button,
[type="button"],
[type="reset"],
[type="submit"],
[type="text"],
[type="email"],
[type="tel"],
[type="url"],
[type="search"],
[type="password"],
textarea {
    width: 100%;
    padding: 0;
    background: none;
    border: none;
    text-align: inherit;
}


button {
    overflow: visible;
}

button,
select {
    text-transform: inherit;
}


textarea {
    overflow: auto;
    resize: vertical;
}


button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}


button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}


input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}


input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

optgroup {
    font-weight: bold;
}


::-webkit-input-placeholder { font-style: inherit; color: inherit; opacity: 1; }
::-moz-placeholder          { font-style: inherit; color: inherit; opacity: 1; }
:-ms-input-placeholder      { font-style: inherit; color: inherit; opacity: 1; }


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

summary::-webkit-details-marker {
    display:none;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

svg:not(:root) {
    overflow: hidden;
}
